@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* -------------------------------- Special Margins / Paddings / Text */
* {
	margin: 0px;
	padding: 0px;
}

body, html {
    font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #494949;
}

/* ------------------------------- Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #484541;
}

/* ------------------------------- Menu / Anchors */

.menu {
    margin: 0;
    padding: 7px 0;
}

.menu__bg--opaque {
    background-color: #343a40e6;
}

.menu__item {
    font-size: 1rem;
    padding: 0;
}

.menu__item a {
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.menu__item a:hover,
.menu__item a:active {
    border-bottom: 2px solid #C92222;
}