@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* -------------------------------- Special Margins / Paddings / Text */
* {
	margin: 0px;
	padding: 0px;
}

body, html {
    font-size: 1rem;
	font-family: 'Montserrat', sans-serif;
	line-height: 1.5;
	color: #494949;
}

/* ------------------------------- Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	color: #484541;
}

/* ------------------------------- Brand / Logo */

.brand {
    padding: 0px 0px 0px 15px;
}

.brand__img {
	max-width:100%;
	max-height: 125px;
}

.brand__link {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 0px;
}

/* ------------------------------- Menu / Anchors */

.menu {
    margin: 0px;
    padding: 7px 0px;
}

.menu__bg--opaque {
    background-color: #343a40e6;
}

.menu__item {
    font-size: 1rem;
    padding: 0px;
}

.menu__item a {
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.menu__item a:hover,
.menu__item a:active {
    border-bottom: 2px solid #C92222;
}

#home,
#about,
#services,
#contact {
    position: absolute;
    top: -170px;
}

/* --------------------------------- HR Styles */

.block__hr {
    width: 75px;
    height: 0.25em;
    margin: 1rem auto;
    border: 0px;
    background-color: #C92222;    
}

.block__hr__gold {
    width: 100%;
    height: 0.125em;
    margin: 0px auto;    
    border: 0px;   
    background-color: rgb(227, 196, 76);
}

.block__hr__ruby {
    width: 100%;
    height: 0.125em;
    margin: 0px auto;    
    border: 0px;
    background-color: rgb(248, 6, 6);
}

.block__hr__modal {
    margin: 0 auto;
    width: 95%;
    height: 0.1em;
}

/* ------------------------------- Buttons / Badges */

.btn__cta {
	margin: 15px 5px 0px;
    font-weight: 500;
    font-size: 0.8rem;
}

.btn__cta--splash {
    font-size: 1em;
    font-weight: 600;
	margin-top: 40px;
}

.fst-badge {
    position: absolute;
    right: 0.625em;
    top: 0.625em;
    text-align: center;
    border-radius: 4px;
    padding: 0.313em 0.625em;
    font-size: 0.8em;
    font-weight: 500;
}

.fst-badge--danger {
    background: #dc3545;
    color: #fff;
}

.fst-badge--info {
    background: #17a2b8;
    color: #fff;
}

.fst-badge--warning {
    background: #ffc107;    
    color: inherit;
}

/* ------------------------------- Parallax Images */

.bg {
    /* absolute center .bg within .bg__img* */
    width: fit-content;
    top: 28%;
    left: 0px;
    bottom: 0px;
    right: 0px;
    margin: 0px auto;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.bg__img1 {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    opacity: 0.70;
    position: fixed !important;
    background-image:url('../img/fst-bg1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg__img2, .bg__img3 {
	position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 400px;
}

.bg__img2 {
	background-image:url('../img/fst-bg2.jpg');
}

.bg__img3 {
	background-image:url('../img/fst-bg3.jpg');
}

.bg__splash {
    top: 40%;
}

.bg__splash__text, .bg__text {
    padding: 0 1.6em;
    line-height: 1em;    
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.85);
    font-size: 3em;
    font-weight: 800;
    color: #f4faff;
}

.bg__text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.bg__text--bigger {
    font-size: 5em;
}

.bg__text--ls {
    letter-spacing: 3px;
}

.bg__text__border--ruby {
	background-color: rgba(248, 6, 6, 0.68);
    padding: 8px;
}

.bg__text__border--dark {
	background-color: rgba(0, 0, 0, 0.25);
    padding: 8px;
}

/* ------------------------------- Main Content */

.content__container {
    position: absolute;
    top: 100%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    background: white;
}

.section__container {
    padding: 30px 15px;
}

.section__header {
    text-align: center !important;
}

.section__title {
    position: relative;
    text-transform: uppercase;
    font-size: 2rem;
}

.section__heading, .section__subheading {
    margin: 20px 0px;
    text-align: center;
    text-transform: capitalize;
    font-size: 1.75rem;
}

.section__subheading {
    color: #cd5c5c;
}

.section__subheading--dark {
    font-size: 1rem;
    font-weight: 600;
    color: #343A40;
}

.section__text {
    margin-top: 0rem;
    margin-bottom: 1rem;
}

.section_list {
    text-indent: -1.35em;
    padding-left: 1em;
    margin-bottom: 0;
    font-size: 0.8em;
    list-style-position: inside;
    
}

/* ------------------------------------------ About Section */

/* Slideshow container */
.section__slides-container {
    max-width: 1000px;
    position: relative;
}

/* Hide the images by default */
.section__slides {
    display: none;
}

.section__slides--item {
    padding-left: 0px;
    padding-right: 0px;
}

.qual-bg {
    padding: 5px;
    border-radius: 4px;
    background-color: #d4dadf;
    border: 1px solid rgba(0,0,0,.125);
}

.qual__item {
    width: 4rem;
    height: 4rem;
    padding: 5px;
    border-radius: .25rem;
}

/* ------------------------------- Services Section */

.service-card {
    width: 85%;
    margin: 0px auto 30px auto;        
    text-align: center;
    background: #d4dadf;
}

.service-card__img {
    max-height: 300px;
}

.service-card__body {
    padding: 0.65em;
    text-align: center;
}

.service-card__header {    
    text-align: center;
}

.service-card__title {
    color: #343a40;
    font-size: 1.4rem;
}

.service-card__subtitle {
    color:#035d18;
    font-size: 0.8em;
}

.service-card__hr {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.service-card__list {
    font-weight: 500;
}

.service-card__list--item {
    padding: .75rem .20rem;
    border: 0px;
    font-size: 0.8em;
}

.service-card__key {
    display: block;
    color: #343a40;
    font-size: 50%;
    font-weight: 400;
    margin-top: 10px
}

/* ------------------------------- Forms */

.booking-form__row {
    margin-left: 0;
    margin-right: 0;
}

.booking-form__group {
    margin-bottom: 0.5rem;
}

.booking-form__group--last {
    margin-bottom: 0.3rem;
}

.booking-form__label {
    color: inherit;
    font-size: 0.8rem;
    font-weight: 500;
}

.booking-form__control {
    font-size: 0.8rem;
    color: #cdcdcd;
    background-color: #343a40;
}

/* Chrome, Firefox, Opera, Safari 10.1+ */
.booking-form__control::placeholder  {
    color: #cdcdcd;
    opacity: 1; /* Firefox */
}

/* Internet Explorer 10-11 */
.booking-form__control:-ms-input-placeholder {
    color: #cdcdcd;
}

/* Microsoft Edge */
.booking-form__control::-ms-input-placeholder {
    color: #cdcdcd;
}

.booking-form__control:focus {
    color: #cdcdcd;
    background-color: #343a40;
}

.booking-form__service {
    padding-top: 3px;
    /* font-size: 1.3rem; */
    font-weight: 500;    
    line-height: 1;
    border: none;    
}

.booking-form__group--service {
    padding-top: 2.9px;
    margin-bottom: 0;
}

.booking-form__row {
    background: #fff;
}

.booking-form__row--first {
    padding-top: 10px;
    border-radius: 4px 4px 0 0;
}

.booking-form__row--last {
    border-radius: 0 0 4px 4px;
}

.booking-form__check__label {
    font-size: 0.8rem;
    margin-left: 2.2rem;
}

.booking-form__check__input {
    margin-left: 0.8rem;
}

/* ------------------------------- Modal */

.booking-modal__dialog {
    margin: 10.75rem auto;
}

.booking-modal__body {
    background: #d4dadf;
}